@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.5rem;
}

.navbar-brand, .navbar-link {
    font-size: 1rem;
    font-stretch: expanded;
}

.btnText, .upperMenuLink {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

p {
    font-family: Mulish, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

footer {
    font-family: Mulish, Helvetica, Arial, sans-serif;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    .phoneScreen {
        width: 344px;
        position: absolute;
        top:1072px;
        left:212px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    .phoneScreen {
        width: 150px;
        position: absolute;
        top:656px;
        left:255px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    .phoneScreen {
        width: 227px;
        position: absolute;
        top:680px;
        left:394px;
    }
}

/* Font Awesome */
.fas {
    color: #AC3363
}

